@import "tailwindcss";

:root {
  --background: var(--color-gray-50);
  --foreground: #171717;
}

@theme inline {
  --max-width-container: 1200px;

  --color-gray-50: #f9fafb;

  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-violet-100: #ede9fe;
  --color-violet-600: #7c3aed;

  --color-rose-500: #f43f5e;
  --color-lime-300: #bef264;
  --color-amber-800: #92400e;

  --color-yellow-50: #fefce8;
}

body {
  color: var(--foreground);
  box-sizing: border-box;
}
